/*------------------------------------*\
-------- Overide Grayscale
\*------------------------------------*/

@media (min-width: 1200px){
	.masthead .intro-body {
	    display: table-cell;
	    vertical-align: top;
	    padding-top: 110px;
	}

	.masthead .intro-body .intro-text {
	    font-size: 16px;
	    max-width: 600px;
	    margin-left: auto!important;
	    margin-right: auto!important;
	    font-family: Cabin,'Helvetica Neue',Helvetica,Arial,sans-serif;
	    font-weight: 300;
	    margin: 0 0 250px;
	    letter-spacing: 1px;
	    text-transform: uppercase;
	}

	.masthead .intro-body .brand-heading {
	    font-size: 65px;
	}

	#mainNav .navbar-brand {
    font-weight: 700;
    font-size: 16px;
	}

	.navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    font-size: 14px;
	}

}

@media (min-width: 1380px){
	.masthead .intro-body {
	    display: table-cell;
	    vertical-align: top;
	    padding-top: 250px;
	}

	.masthead .intro-body .intro-text {
	    font-size: 18px;
	    max-width: 690px;
	    margin-left: auto!important;
	    margin-right: auto!important;
	    font-family: Cabin,'Helvetica Neue',Helvetica,Arial,sans-serif;
	    font-weight: 700;
	    margin: 0 0 400px;
	    letter-spacing: 1px;
	    text-transform: uppercase;
	}

	.masthead .intro-body .brand-heading {
	    font-size: 90px;
	}
}

a {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    /*color: #42dca3;*/
}

.accordion-section a:focus, a:hover {
    text-decoration: none;
    color: #fff;
}

.content-section {
    padding-top: 150px; 
    padding-bottom: 200px; 
}
